 <!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
</head> 
<body>
    <h1>How long will it take Chris to finish 5 lbs of gummy bears?</h1>
    <p>Gummies</p>
          <img src="images/chrisgummy.jpg">
    <p>We are taking bets</p>
  </body>

body {
  text-align: center;
  background: url("http://i.imgur.com/q0FaaAk.jpg");
  background-size: cover; 
  color: #fff;
  font-family: Helvetica;
}
hr {
  width: 200px;
}
p {
  font-size: 22px;
}