 @import url('https://fonts.googleapis.com/css?family=Crimson+Text');
 <!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
</head> 
<body>
    <h1>How long will it take Chris to finish 5 lbs of gummy bears?</h1>
    <p>Gummies consumption tracker</p>
    <p>We are taking bets!</p>
  </body>
body {
  text-align: center;
  background: url("images/chrisgummy.jpg");
  background-size: cover; 
  color: #fff;
  font-family: 'Crimson Text', serif;
}
hr {
  width: 200px;
}
p {
  font-size: 22px;
}
         <img src="images/chrisgummy.jpg">